.delete-icon {
  display: none;
  height: 1.3vh;
  padding-top: 1vh;
}

.list {
  min-width: 18%;
  background: coral;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
}

.item {
  display: flex;
}

.item:hover .delete-icon {
  display: inline;
}

.delete-icon:hover {
  display: inline;
  cursor: pointer;
}
