input {
  border: coral;
  background: coral;
  border-bottom: solid rgba(0, 0, 0, 0);
}

textarea:hover,
input:hover {
  border-bottom: solid white;
}

textarea:focus,
input:focus {
  outline: none;
  border-bottom: solid white;
}
