ul li::marker {
  content: "#";
}

input {
  border: coral;
  background: coral;
}

textarea:hover,
input:hover {
  border-bottom: solid white;
}

textarea:focus,
input:focus {
  outline: none;
  border-bottom: solid white;
}
