.delete-icon {
  display: none;
  max-width: 2vh;
}

.list {
  position: relative;
  min-width: 18%;
  background: coral;
  padding: 1em;
  margin: 1em;
  border-radius: 15px;
}

.item {
  display: flex;
  padding: 0.5em;
}

.item:hover .delete-icon {
  display: block;
  cursor: pointer;
}

.list-title {
  font-size: 2em;
  background: rgba(0, 0, 0, 0);
}

.remove {
  position: absolute;
  top: 0;
  right: 0;
}
