.signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.signup-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #F6F8FA;
  border: 4px solid #D8DEE4;
}

.signup-form h2 {
  margin-bottom: 20px;
}

h2 {
  font-weight: 700;
  color: #000;
}

.custom-button {
  background-color: #254842 !important;
  border-color: #254842 !important;
  width: 100%;
}
